<div>
<a href="#/" class="kataFont">Jitsi Meet 8x8 Room name:</a>
</div>

<div class="main">
  
    <input type="text" name="roomName" ng-model="room_name" class="form-control">

    <div id="meet">

    </div>
    <div class="container d-flex justify-content-center">
    <button ng-click='newMeet(true)' class="btn btn-outline-primary">
      Moderator
    </button>

    <button ng-click='newMeet(false)' class="btn btn-outline-secondary">
      Participant
    </button>

    <div id="meetParticipant">

    </div>
  </div>
  
</div>
